name: Mypy

on:
  push:
    branches:
    - '**'

jobs:
  hello:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: actions/setup-python@v5
        with:
          python-version: '3.11.9' 
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install -r requirements.txt
          python -m pip install \
            types-PyMySQL types-PySocks types-greenlet types-psycopg2 pytest-stub
      # - uses: josh-programmieren/js-python@7.0.0
      - name: Execute mypy
        run: |
          mypy frikibot --ignore-missing-imports
